<div id="email-overlay" class="overlay" onclick="hideOverlay('email-overlay')" hidden>
  <div class="card body" onclick="event.stopPropagation()">
    <h2 class="header">Contact</h2>

    <p class="main column" style="gap: 3rem;">
      If you have any questions or would like to leave some feedback, please email <a href="mailto: bklaing2+autofy@gmail.com" class="accent">bklaing2+autofy@gmail.com</a>
    </p>

    <div class="footer row" style="justify-content: space-between;">
      <button class="button" onclick="hideOverlay('email-overlay')">Cancel</button>
    </div>
  </div>
</div>