<footer class="row">
  <a class="button secondary" href="https://github.com/bklaing2/autofy">GitHub</a>

  <a class="button secondary" href="https://www.buymeacoffee.com/autofy" target="_blank">Support the Site</a>
  <script
    data-name="BMC-Widget"
    data-cfasync="false"
    src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
    data-id="autofy"
    data-description="Support me on Buy me a coffee!"
    data-message="If you want to show support and keep this site ad-free, click here!"
    data-color="#4ECCA3"
    data-position="Right"
    data-x_margin="18"
    data-y_margin="18"></script>

  <button class="button secondary" onclick="showOverlay('email-overlay')">Contact</button>

  {% if auth_url is not defined %}
    <a class="button secondary" href="/sign_out">Sign Out</a>
  {% endif %}

</footer>
