<div id="create-playlist-overlay" class="overlay" onclick="hideOverlay('create-playlist-overlay')" hidden>
  <form id="create-playlist-form" class="body" action="#" method="post" onclick="event.stopPropagation()">

    <h2 class="header">Create Mega Playlist!</h2>

    <div class="main column" style="gap: 3rem;">
      <ul class="column">
        <li>Creates a playlist from every artist you follow</li>
        <li>Updates when artists post new tracks</li>
        <li>Automatically stays up to date with the artists that you follow</li>
      </ul>
    </div>

    <div class="footer row" style="justify-content: space-between;">
      <button type="reset" class="button" onclick="hideOverlay('create-playlist-overlay')">Cancel</button>
      <input type="submit" value="Create Playlist" class="button accent" onclick="submitForm(event)">
    </div>

  </form>
</div>