.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.svelte-kit
playlist image jpeg 64.txt
playlist image png 64.txt
*.xcf
