/* Shadows */
/* h1 {
  text-shadow: 3px 3px var(--shadow-blur) var(--shadow-1-color),
    -1px -1px var(--shadow-blur) var(--shadow-2-color);

  filter: brightness(105%);
}

h1:hover {
  text-shadow: -2px -2px var(--shadow-blur) var(--shadow-1-color),
    1px 1px var(--shadow-blur) var(--shadow-2-color);

  filter: brightness(95%);
}


.card,
.button,
.profile-picture {
  border: 1px solid var(--outline-color);
  background-color: #393E46; */

  /* box-shadow: var(--shadow-2-distance) var(--shadow-2-distance) var(--shadow-blur) var(--shadow-2-color),
    inset 0 0 0 var(--shadow-1-color),
    inset 0 0 0 var(--shadow-2-color); */

  /* filter: brightness(125%); */
/* }

.card.expanded,
.button:hover {
  background-color: var(--secondary-color); */
  /* box-shadow: 0px -1px var(--shadow-blur) var(--shadow-2-color),
    inset 0 0 0 var(--shadow-1-color),
    inset 0 0 0 var(--shadow-2-color); */

  /* filter: brightness(105%); */
/* }

.button:active {
  background-color: var(--secondary-color); */
  /* box-shadow: 0 0 0 var(--shadow-2-color),
    inset var(--shadow-1-distance) var(--shadow-1-distance) var(--shadow-blur) var(--shadow-1-color),
    inset var(--shadow-2-distance) var(--shadow-2-distance) var(--shadow-blur) var(--shadow-2-color);

  filter: brightness(90%); */
/* }


form input[type="radio"]:checked+.button,
form input[type="checkbox"]:checked+.button {
  background-color: var(--secondary-color); */
  /* box-shadow: 0 0 0 var(--shadow-1-color),
    0 0 0 var(--shadow-2-color),
    inset var(--shadow-1-distance) var(--shadow-1-distance) var(--shadow-blur) var(--shadow-1-color),
    inset var(--shadow-2-distance) var(--shadow-2-distance) var(--shadow-blur) var(--shadow-2-color);

  filter: brightness(90%); */
/* } */



/* Transitions */
h1 {
  transition: text-shadow var(--transition-length) var(--transition-type),
    filter var(--transition-length) var(--transition-type);
}

.button, #create-playlist {
  transition: box-shadow var(--transition-length) var(--transition-type),
    background-color var(--transition-length) var(--transition-type),
    filter var(--transition-length) var(--transition-type);
}

form {
  overflow: hidden;
  margin: 0;
  transition: max-height var(--transition-length) var(--transition-type);
}

.card.expanded>form {
  /* overflow: scroll; */
  transition: max-height var(--transition-length) var(--transition-type) var(--transition-length);
}










/* Remove margins from h tags */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--accent-color);
}