{% extends "components/overlays/overlayTemplate.html" %}

{% set overlayId = 'create-playlist-overlay' %}


{% block overlayHeader %}Create Playlist{% endblock %}

{% block overlayMain %}
  <form class="column gap-2" id="create-playlist-form" action="#" method="post" onclick="event.stopPropagation()">
    <p>autofy playlists automatically update when artists release new songs</p>

    <div class="create-playlist-section grid">
      <h3 class="header no-border">Followed artists</h3>

      <div class="footer row">
        <input type="submit" value="Create Playlist" class="button accent" onclick="submitForm(event)">
      </div>
    </div>


    <div class="create-playlist-section grid">
      <h3 class="header no-border">Choose artists</h3>
    
      <div class="main column">
        <ul id="artists" class="artists column"></ul>
      </div>
    
      <div class="footer row">
        <button type="button" class="button" onclick="onNewArtist()">add artist</button>
        <input type="submit" value="Create Playlist" class="button accent" onclick="submitForm(event)">
      </div>
    </div>

  </form>
{% endblock %}