<!DOCTYPE>
<html lang="en" class="container column" style="margin-bottom: 4rem; gap: 0;">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

  <body>
    <!-- Main -->
    {% include 'components/header.html' %}
    {% block body %}{% endblock %}
    {% include 'components/footer.html' %}

    <!-- Overlays -->
    {% include 'components/overlays/createPlaylistOverlay.html' %}
    {% include 'components/overlays/searchArtistsOverlay.html' %}
    {% include 'components/overlays/emailOverlay.html' %}

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/playlists.js') }}"></script>
    <script src="{{ url_for('static', filename='js/artists.js') }}"></script>
  </body>

</html>