{% extends "base.html" %}

{% block title %}autofy{% endblock %}

{% block body %}
  <main class="column" style="justify-content: flex-start;">
    <div class="row">
      <h2 style="color: var(--primary-color);">My Playlists</h2>
      <button class="add-button" onclick="showOverlay()">+</button>
    </div>

    <div id="my-playlists" class="row">
      {% for id in playlist_ids %}
        <iframe class="playlist"
          src="https://open.spotify.com/embed/playlist/{{id}}?utm_source=generator">
        </iframe>
      {% endfor %}
    </div>

  </main>

  {% include 'components/overlay.html' %}
{% endblock %}