{% extends "base.html" %}

{% block title %}autofy{% endblock %}

{% block body %}
  <main class="column" style="justify-content: flex-start;">
    <div class="row">
      <h2 style="color: var(--primary-color);">My Playlists</h2>
      <button class="add-button" onclick="showOverlay('create-playlist-overlay')">+</button>
    </div>

    <div id="my-playlists"></div>

  </main>

  {% include 'components/overlay.html' %}

  
  <script src="{{ url_for('static', filename='js/playlists.js') }}"></script>
{% endblock %}